name: Build
on:
  pull_request:
    branches:
      - main

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  YARN_NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  test:
    runs-on: [ubuntu-latest]
    container: node:20-bookworm
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v3
        with:
          fetch-depth: 0

      - run: corepack enable

      - name: Build
        run: |
          yarn install
          yarn build

      - name: Test
        run: |
          yarn test
