{"openapi":"3.1.0","info":{"title":"SonarQube Web API v2","description":"The SonarQube API v2 is a REST API which enables you to interact with SonarQube programmatically.\nWhile not all endpoints of the former Web API are available yet, the ones available are stable and can be used in production environments.\n","version":"2025.6.0.115729"},"servers":[{"url":"http://next.sonarqube.com/sonarqube/api/v2","description":"Generated server url"}],"paths":{"/users-management/users":{"get":{"tags":["Users Management"],"summary":"Users search","description":"  Get a list of users. By default, only active users are returned.\n  The following fields are only returned when user has Administer System permission or for logged-in in user :\n    'email',\n    'externalIdentity',\n    'externalProvider',\n    'groups',\n    'lastConnectionDate',\n    'sonarLintLastConnectionDate',\n    'tokensCount'.\n  Field 'sonarqubeLastConnectionDate' is only updated every hour, so it may not be accurate, for instance when a user authenticates many times in less than one hour.\n  The results are sorted alphabetically by login.\n","operationId":"search","parameters":[{"name":"active","in":"query","description":"Return active/inactive users","required":false,"schema":{"type":"boolean","default":true,"description":"Return active/inactive users"}},{"name":"managed","in":"query","description":"Return managed or non-managed users. Only available for managed instances, throws for non-managed instances","required":false,"schema":{"type":"boolean","description":"Return managed or non-managed users. Only available for managed instances, throws for non-managed instances"}},{"name":"q","in":"query","description":"Filter on login, name and email.\nThis parameter performs a partial match (contains), it is case insensitive.","required":false,"schema":{"type":"string","description":"Filter on login, name and email.\nThis parameter performs a partial match (contains), it is case insensitive."}},{"name":"externalIdentity","in":"query","description":"Filter on externalIdentity.\nThis parameter perform a case-sensitive exact match","required":false,"schema":{"type":"string","description":"Filter on externalIdentity.\nThis parameter perform a case-sensitive exact match"}},{"name":"sonarQubeLastConnectionDateFrom","in":"query","description":"Filter users based on the last connection date field. Only users who interacted with this instance at or after the date will be returned. The format must be ISO 8601 datetime format (YYYY-MM-DDThh:mm:ss±hhmm)","required":false,"schema":{"type":"string","description":"Filter users based on the last connection date field. Only users who interacted with this instance at or after the date will be returned. The format must be ISO 8601 datetime format (YYYY-MM-DDThh:mm:ss±hhmm)","example":"2020-01-01T00:00:00+0100"},"example":"2020-01-01T00:00:00+0100"},{"name":"sonarQubeLastConnectionDateTo","in":"query","description":"Filter users based on the last connection date field. Only users that never connected or who interacted with this instance at or before the date will be returned. The format must be ISO 8601 datetime format (YYYY-MM-DDThh:mm:ss±hhmm)","required":false,"schema":{"type":"string","description":"Filter users based on the last connection date field. Only users that never connected or who interacted with this instance at or before the date will be returned. The format must be ISO 8601 datetime format (YYYY-MM-DDThh:mm:ss±hhmm)","example":"2020-01-01T00:00:00+0100"},"example":"2020-01-01T00:00:00+0100"},{"name":"sonarLintLastConnectionDateFrom","in":"query","description":"Filter users based on the SonarLint last connection date field Only users who interacted with this instance using SonarLint at or after the date will be returned. The format must be ISO 8601 datetime format (YYYY-MM-DDThh:mm:ss±hhmm)","required":false,"schema":{"type":"string","description":"Filter users based on the SonarLint last connection date field Only users who interacted with this instance using SonarLint at or after the date will be returned. The format must be ISO 8601 datetime format (YYYY-MM-DDThh:mm:ss±hhmm)","example":"2020-01-01T00:00:00+0100"},"example":"2020-01-01T00:00:00+0100"},{"name":"sonarLintLastConnectionDateTo","in":"query","description":"Filter users based on the SonarLint last connection date field. Only users that never connected or who interacted with this instance using SonarLint at or before the date will be returned. The format must be ISO 8601 datetime format (YYYY-MM-DDThh:mm:ss±hhmm)","required":false,"schema":{"type":"string","description":"Filter users based on the SonarLint last connection date field. Only users that never connected or who interacted with this instance using SonarLint at or before the date will be returned. The format must be ISO 8601 datetime format (YYYY-MM-DDThh:mm:ss±hhmm)","example":"2020-01-01T00:00:00+0100"},"example":"2020-01-01T00:00:00+0100"},{"name":"groupId","in":"query","description":"Filter users belonging to group. Only available for system administrators. Using != operator will exclude users from this group.","required":false,"schema":{"type":"string","description":"Filter users belonging to group. Only available for system administrators. Using != operator will exclude users from this group.","internal":"true"},"x-internal":"true"},{"name":"pageSize","in":"query","description":"Number of results per page. A value of 0 will only return the pagination information.","required":false,"schema":{"type":"integer","format":"int32","default":50,"description":"Number of results per page. A value of 0 will only return the pagination information.","maximum":500,"minimum":0}},{"name":"pageIndex","in":"query","description":"1-based page index","required":false,"schema":{"type":"integer","format":"int32","default":1,"description":"1-based page index","exclusiveMinimum":0,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsersSearchRestResponse"}}}}}},"post":{"tags":["Users Management"],"summary":"User creation","description":"  Create a user.\n  If a deactivated user account exists with the given login, it will be reactivated.\n  Requires Administer System permission.\n","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCreateRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRestResponseForAdmins"}}}}}}},"/system/email-configurations":{"get":{"tags":["System"],"summary":"Search email configurations","description":"  Get the list of email configurations.\n  Note that a single configuration is supported at this time.\n  Requires 'Administer System' permission.\n","operationId":"searchEmailConfigurations","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailConfigurationSearchRestResponse"}}}}},"x-sonar-internal":"true"},"post":{"tags":["System"],"summary":"Create an email configuration","description":"  Create a new email configuration.\n  Note that only a single configuration can exist at a time.\n  Requires 'Administer System' permission.\n","operationId":"createEmailConfiguration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailConfigurationCreateRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailConfigurationResource"}}}}},"x-sonar-internal":"true"}},"/sca/license-profiles":{"get":{"tags":["License Profiles"],"summary":"List license profiles","description":"  List the license profiles that have been configured for use when evaluating license issues.\n","operationId":"index","parameters":[{"name":"projectKey","in":"query","description":"If provided, filter to the license profile that is used to analyze the project (if one exists).\n","required":false,"schema":{"type":"string","description":"If provided, filter to the license profile that is used to analyze the project (if one exists).\n"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseProfileIndexRestResponse"}}}}},"x-sonar-internal":"true"},"post":{"tags":["License Profiles"],"summary":"Create new license profile","description":"  Create a new license profile for projects to use when evaluating license issues.\n","operationId":"create_1","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseProfilesCreateRestRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseProfileResource"}}}}},"x-sonar-internal":"true"}},"/sca/issues-releases/update-assignee":{"post":{"tags":["Issues-Releases"],"summary":"Update the assignee of an (issue,release) pair","description":"Update the assignee of an (issue,release) pair (dependency risk).\n\nThis is an internal API and is subject to change without notice.\n","operationId":"updateAssignee","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAssigneeRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueReleaseDetailsResource"}}}}},"x-sonar-internal":"true"}},"/sca/issues-releases/set-severity":{"post":{"tags":["Issues-Releases"],"summary":"Manually change the severity of an issue-release pair","description":"Change the severity of a (issue,release) pair (dependency risk).\n\nThis is an internal API and is subject to change without notice.\n","operationId":"setSeverity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueReleaseSetSeverityRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueReleaseDetailsResource"}}}}},"x-sonar-internal":"true"}},"/sca/issues-releases/clear-severity-warning":{"post":{"tags":["Issues-Releases"],"summary":"Dismiss the increased severity warning for an issue-release pair after reviewing the warning","description":"Dismiss the increased severity warning for an (issue,release) pair (dependency risk) after reviewing the warning.\n\nThis is an internal API and is subject to change without notice.\n","operationId":"clearSeverityWarning","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueReleaseClearSeverityWarningRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueReleaseDetailsResource"}}}}},"x-sonar-internal":"true"}},"/sca/issues-releases/change-status":{"post":{"tags":["Issues-Releases"],"summary":"Transition an issue-release pair to a new status","description":"Transition a single (issue,release) pair (dependency risk) to a new status with a comment about why the status is changing.\n\nThis is an internal API and is subject to change without notice.\n","operationId":"transitionIssueRelease","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueReleaseStatusTransitionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueReleaseDetailsResource"}}}}},"x-sonar-internal":"true"}},"/sca/issues-releases/add-comment":{"post":{"tags":["Issues-Releases"],"summary":"Add a comment to an issue-release pair","description":"Add a comment to a (issue,release) pair (dependency risk).\n\nThis is an internal API and is subject to change without notice.\n","operationId":"addComment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueReleaseAddCommentRestRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"x-sonar-internal":"true"}},"/marketplace/azure/billing":{"post":{"tags":["Marketplace Azure"],"summary":"Bills user's Azure account with the cost of SonarQube Server license","description":"Used by admin to bill user's Azure account with the cost of SonarQube Server license.","operationId":"billAzureAccount","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AzureBillingRestResponse"}}}}}}},"/jira/work-items":{"get":{"tags":["Jira"],"summary":"Fetch Jira work items","description":"Fetch the Jira work items for a specific Sonar project and resource.\nAccepts only authenticated requests.\n","operationId":"य़","parameters":[{"name":"sonarProjectId","in":"query","required":true,"schema":{"type":"string"}},{"name":"resourceId","in":"query","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"query","required":true,"schema":{"type":"string","enum":["SONAR_ISSUE","DEPENDENCY_RISK"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JiraWorkItemResource"}}}}},"x-sonar-internal":"true"},"post":{"tags":["Jira"],"summary":"Create Jira work item","description":"Create a Jira work item for a specific resource.\nAccepts only authenticated requests with issue administration permission.\n","operationId":"य़_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostJiraWorkItemRequestResource"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JiraWorkItemResource"}}}}},"x-sonar-internal":"true"},"delete":{"tags":["Jira"],"summary":"Delete Jira work items","description":"Delete the Jira work items associated with a specific resource.\n","operationId":"곳","parameters":[{"name":"sonarProjectId","in":"query","required":true,"schema":{"type":"string"}},{"name":"resourceId","in":"query","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"query","required":true,"schema":{"type":"string","enum":["SONAR_ISSUE","DEPENDENCY_RISK"]}}],"responses":{"204":{"description":"No Content"}},"x-sonar-internal":"true"}},"/jira/project-bindings":{"get":{"tags":["Jira"],"summary":"Fetch Jira project bindings","description":"Fetch the Jira project binding for a specific Sonar project.\nAccepts only authenticated requests.\n","operationId":"य़_2","parameters":[{"name":"sonarProjectId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JiraProjectBindingResource"}}}}},"x-sonar-internal":"true"},"post":{"tags":["Jira"],"summary":"Create or update Jira project binding","description":"Create or update a Jira project binding for a specific Sonar project.\nAccepts only authenticated requests.\n","operationId":"य़_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostJiraProjectBindingRequestResource"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JiraProjectBindingResource"}}}}},"x-sonar-internal":"true"},"delete":{"tags":["Jira"],"summary":"Delete Jira project binding","description":"Delete the Jira project binding for a specific Sonar project.\nAccepts only authenticated requests.\n","operationId":"곳_1","parameters":[{"name":"sonarProjectId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"x-sonar-internal":"true"},"patch":{"tags":["Jira"],"summary":"Update Jira project binding","description":"Update an existing Jira project binding for a specific Sonar project.\nAccepts only authenticated requests.\n","operationId":"य़_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchJiraProjectBindingRequestResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JiraProjectBindingResource"}}}}},"x-sonar-internal":"true"}},"/jira/organization-bindings":{"get":{"tags":["Jira"],"summary":"Fetch the Jira instance binding","description":"Fetch the Jira instance binding.\nRequires global administrator permission.\n","operationId":"य़_5","parameters":[{"name":"sonarOrganizationUuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JiraOrganizationBindingResource"}}}}},"x-sonar-internal":"true"},"post":{"tags":["Jira"],"summary":"Create a new Jira instance binding","description":"Receives the 3LO state and authorization code parameters and attempts to create an instance binding.\nIf successful, returns the binding. Otherwise, returns a list of available resources.\nRequires global administrator permission.\n","operationId":"य़_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostJiraOrganizationBindingRequestResource"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostJiraOrganizationBindingResponseResource"}}}}},"x-sonar-internal":"true"},"delete":{"tags":["Jira"],"summary":"Delete the Jira instance binding","description":"Deletes the Jira instance binding from the database.\nRequires global administrator permission.\n","operationId":"곳_2","parameters":[{"name":"sonarOrganizationUuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"x-sonar-internal":"true"},"patch":{"tags":["Jira"],"summary":"Binds the specified pending instance binding with the specified jira cloud ID","description":"Binds the specified pending instance binding with the specified jira cloud ID\n","operationId":"य़_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchJiraOrganizationBindingRequestResource"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JiraOrganizationBindingResource"}}}}},"x-sonar-internal":"true"}},"/integrations/user-bindings":{"post":{"tags":["Slack User Bindings"],"summary":"Create Slack user binding","description":"Creates a new user binding between a SonarQube user and their Slack account.\nThis endpoint is used during the Slack OAuth flow when users connect their accounts\nvia the /sonarqube-server connect slash command.\n","operationId":"createUserBinding","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserBindingCreationRequest"}}},"required":true},"responses":{"201":{"description":"User binding created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserBindingResponse"}}}},"400":{"description":"Invalid request data"},"401":{"description":"Authentication required"},"403":{"description":"Insufficient permissions"},"409":{"description":"User binding already exists"},"500":{"description":"Internal server error"}},"x-sonar-internal":"true"}},"/integrations/slack/slash-commands":{"post":{"tags":["slack-slash-command-controller"],"summary":"Handle Slack Slash Commands","description":"Handles incoming Slack slash command requests and command processing.\nThe request body is form-encoded and contains command details. Signature validation is performed via\nSlackSlashCommandSignatureValidationAdvice before reaching this controller.\n","operationId":"handleSlashCommand","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK"}},"x-sonar-internal":"true"}},"/integrations/slack/events":{"post":{"tags":["slack-event-controller"],"summary":"Handle Slack Events API","description":"Handles incoming Slack Events API requests including URL verification and workspace lifecycle events.\nThe request body is JSON and contains event details. Signature validation is performed via\nSlackEventsSignatureValidationAdvice before reaching this controller.\n","operationId":"handleEvent","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}},"x-sonar-internal":"true"}},"/integrations/integration-configurations":{"get":{"tags":["integration-configurations-controller"],"summary":"Get integration configurations.","description":"Requires global administrator permission.","operationId":"get","parameters":[{"name":"integrationType","in":"query","description":"Integration type","required":true,"schema":{"type":"string","enum":["SLACK"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationConfigurationSearchResponse"}}}}},"x-sonar-internal":"true"},"post":{"tags":["integration-configurations-controller"],"summary":"Create a configuration for an integration.","description":"Requires global administrator permission.","operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationConfigurationPostRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationConfigurationResponse"}}}}},"x-sonar-internal":"true"}},"/fix-suggestions/feature-enablements/awareness-banner-interactions":{"post":{"tags":["Fix Suggestions"],"summary":"Starts a GitLab synchronization run.","operationId":"createAwarenessBannerClicked","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AwarenessBannerClickedRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AwarenessBannerClickedResponse"}}}}},"x-sonar-internal":"true"}},"/fix-suggestions/ai-suggestions":{"post":{"tags":["Fix Suggestions"],"summary":"Suggest a fix for the given issueId","description":"Requires Code Viewer permission.","operationId":"create_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FixSuggestionPostRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FixSuggestionResponse"}}}}}}},"/entitlements/online-activation":{"post":{"tags":["Entitlements"],"summary":"Sets the license","description":"  Only third party license keys are accepted.\n  Requires 'Administer System' permission.\n","operationId":"setLicense","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"x-sonar-internal":"true"}},"/entitlements/offline-deactivation":{"post":{"tags":["Entitlements"],"summary":"Deactivates offline license","description":"  This method is for users who activated the license using offline method. It should be used to\n  fully deactivate the license (i.e. in cases of migrating the installation to a new server).\n","operationId":"deactivateLicense","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string","format":"binary"}}}}},"x-sonar-internal":"true"}},"/entitlements/offline-activation":{"get":{"tags":["Entitlements"],"summary":"Retrieve a valid .req file for offline activation","description":"  Retrieves a .req file for offline activation of a license.\n  Requires 'Administer System' permission.\n","operationId":"retrieveRequestFile","parameters":[{"name":"License-Key","in":"header","description":"The unique license key associated with the license, in the format 'ABCD-EFGH-IJKL-MNOP'. Required in the 'License-Key' HTTP header for offline activation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string","format":"binary"}}}}},"x-sonar-internal":"true"},"post":{"tags":["Entitlements"],"summary":"Uploads a license","description":"  The content of the request body should be the text of the license file, along with a valid license key.\n  Requires 'Administer System' permission.\n","operationId":"uploadLicense","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseUploadActivationRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"x-sonar-internal":"true"}},"/entitlements/legacy-activation":{"post":{"tags":["Entitlements"],"summary":"Sets the license","description":"  Only license keys received from Sonar are accepted.\n  Requires 'Administer System' permission.\n","operationId":"setLegacyLicense","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyLicenseRestRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"x-sonar-internal":"true"}},"/dop-translation/gitlab-synchronization-runs":{"post":{"tags":["Dop Translation"],"summary":"Starts a GitLab synchronization run.","description":"  Adds a new GitLab synchronization run in the background tasks. Requires sys-admins permissions.\n","operationId":"create_4","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitlabSynchronizationRunResource"}}}}},"x-sonar-internal":"true"}},"/dop-translation/gitlab-permission-mappings":{"get":{"tags":["Dop Translation"],"summary":"Fetch permissions mapping","description":"Get the list of all the existing roles with their permission mappings. Requires 'Administer System' permission.","operationId":"fetchAll","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionMappingsSearchRestResponse"}}}}},"x-sonar-internal":"true"},"post":{"tags":["Dop Translation"],"summary":"Create a permission mapping for a custom role","description":"Requires 'Administer System' permission.","operationId":"createMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionMappingsPostRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionMappingsResource"}}}}},"x-sonar-internal":"true"}},"/dop-translation/gitlab-configurations":{"get":{"tags":["Dop Translation"],"summary":"Search GitLab configs","description":"  Get the list of GitLab configurations.\n  Note that a single configuration is supported at this time.\n  Requires 'Administer System' permission.\n","operationId":"searchGitlabConfiguration","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitlabConfigurationSearchRestResponse"}}}}},"x-sonar-internal":"true"},"post":{"tags":["Dop Translation"],"summary":"Create Gitlab configuration","description":"  Create a new Gitlab configuration.\n  Note that only a single configuration can exist at a time.\n  Requires 'Administer System' permission.\n","operationId":"create_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitlabConfigurationCreateRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitlabConfigurationResource"}}}}},"x-sonar-internal":"true"}},"/dop-translation/github-permission-mappings":{"get":{"tags":["Dop Translation"],"summary":"Fetch permissions mapping","description":"Get the list of all the existing roles with their permission mappings. Requires 'Administer System' permission.","operationId":"fetchAll_1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionMappingsSearchRestResponse"}}}}},"x-sonar-internal":"true"},"post":{"tags":["Dop Translation"],"summary":"Create a permission mapping for a custom role","description":"Requires 'Administer System' permission.","operationId":"createMapping_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionMappingsPostRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionMappingsResource"}}}}},"x-sonar-internal":"true"}},"/dop-translation/github-configurations":{"get":{"tags":["Dop Translation"],"summary":"Search GitHub configs","description":"  Get the list of GitHub configurations.\n  Note that a single configuration is supported at this time.\n  Requires 'Administer System' permission.\n","operationId":"searchGithubConfiguration","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GithubConfigurationSearchRestResponse"}}}}},"x-sonar-internal":"true"},"post":{"tags":["Dop Translation"],"summary":"Create GitHub configuration","description":"  Create a new GitHub configuration.\n  Note that only a single configuration can exist at a time.\n  Requires 'Administer System' permission.\n","operationId":"createGithubConfiguration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GithubConfigurationCreateRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GithubConfigurationResource"}}}}},"x-sonar-internal":"true"}},"/dop-translation/bound-projects":{"post":{"tags":["Dop Translation"],"summary":"Create a SonarQube project with the information from the provided DevOps platform project.","description":"Create a SonarQube project with the information from the provided DevOps platform project.\nAutoconfigure Pull-Request decoration mechanism.\nRequires the 'Create Projects' permission and setting a Personal Access Token with api/alm_integrations/set_pat for a user who will be using this endpoint\n","operationId":"createBoundProject","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoundProjectCreateRestRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoundProjectCreateRestResponse"}}}}}}},"/clean-code-policy/rules":{"post":{"tags":["Clean Code Policy"],"summary":"Custom rule creation","description":"  Create a custom rule.\n  Requires the 'Administer Quality Profiles' permission.\n","operationId":"create_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleCreateRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleRestResponse"}}}}},"x-internal":"true"}},"/authorizations/groups":{"get":{"tags":["Authorizations"],"summary":"Group search","description":"  Get the list of groups.\n  The results are sorted alphabetically by group name.\n","operationId":"search_1","parameters":[{"name":"managed","in":"query","description":"Return managed or non-managed groups. Only available for managed instances, throws for non-managed instances","required":false,"schema":{"type":"boolean","description":"Return managed or non-managed groups. Only available for managed instances, throws for non-managed instances"}},{"name":"q","in":"query","description":"Filter on name.\nThis parameter performs a partial match (contains), it is case insensitive.","required":false,"schema":{"type":"string","description":"Filter on name.\nThis parameter performs a partial match (contains), it is case insensitive."}},{"name":"userId","in":"query","description":"Filter groups containing the user. Only available for system administrators. Using != operator will search for groups without the user.","required":false,"schema":{"type":"string","description":"Filter groups containing the user. Only available for system administrators. Using != operator will search for groups without the user.","internal":"true"},"x-internal":"true"},{"name":"pageSize","in":"query","description":"Number of results per page. A value of 0 will only return the pagination information.","required":false,"schema":{"type":"integer","format":"int32","default":50,"description":"Number of results per page. A value of 0 will only return the pagination information.","maximum":500,"minimum":0}},{"name":"pageIndex","in":"query","description":"1-based page index","required":false,"schema":{"type":"integer","format":"int32","default":1,"description":"1-based page index","exclusiveMinimum":0,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupsSearchRestResponse"}}}}}},"post":{"tags":["Authorizations"],"summary":"Create a new group","description":"Create a new group.","operationId":"create_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupCreateRestRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestResponse"}}}}}}},"/authorizations/group-memberships":{"get":{"tags":["Authorizations"],"summary":"Search across group memberships","description":"  Get the list of groups and members matching the query.\n","operationId":"search_2","parameters":[{"name":"userId","in":"query","description":"ID of the user for which to search groups. If not set, all groups are returned.","required":false,"schema":{"type":"string","description":"ID of the user for which to search groups. If not set, all groups are returned."}},{"name":"groupId","in":"query","description":"ID of the group for which to search members. If not set, all groups are returned.","required":false,"schema":{"type":"string","description":"ID of the group for which to search members. If not set, all groups are returned."}},{"name":"pageSize","in":"query","description":"Number of results per page. A value of 0 will only return the pagination information.","required":false,"schema":{"type":"integer","format":"int32","default":50,"description":"Number of results per page. A value of 0 will only return the pagination information.","maximum":500,"minimum":0}},{"name":"pageIndex","in":"query","description":"1-based page index","required":false,"schema":{"type":"integer","format":"int32","default":1,"description":"1-based page index","exclusiveMinimum":0,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupsMembershipSearchRestResponse"}}}}}},"post":{"tags":["Authorizations"],"summary":"Add a group membership","description":"Add a user to a group.","operationId":"create_8","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipCreateRestRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipRestResponse"}}}}}}},"/atlassian/application-configuration":{"get":{"tags":["Atlassian"],"summary":"Fetch the Atlassian Authentication details if they exist","description":"Fetch the Atlassian Authentication details if they exist.\nSpecifically, only the client ID is returned for security purposes.\n","operationId":"य़_8","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AtlassianAuthenticationDetailsResultResource"}}}}},"x-sonar-internal":"true"},"post":{"tags":["Atlassian"],"summary":"Create/Update the Atlassian Authentication details","description":"Create/Update the Atlassian Authentication details.\n","operationId":"य़_9","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AtlassianAuthenticationDetailsResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AtlassianAuthenticationDetailsResultResource"}}}}},"x-sonar-internal":"true"}},"/users-management/users/{id}":{"get":{"tags":["Users Management"],"summary":"Fetch a single user","description":"Fetch a single user.\nThe following fields are only returned when user has Administer System permission or for logged-in in user :\n    'email'\n    'externalIdentity'\n    'externalProvider'\n    'groups'\n    'lastConnectionDate'\n    'sonarLintLastConnectionDate'\n    'tokensCount'\n  Field 'sonarqubeLastConnectionDate' is only updated every hour, so it may not be accurate, for instance when a user authenticates many times in less than one hour.\n","operationId":"fetchUser","parameters":[{"name":"id","in":"path","description":"The id of the user to fetch.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRestResponseForAdmins"}}}}}},"delete":{"tags":["Users Management"],"summary":"Deactivate a user","description":"Deactivates a user. Requires Administer System permission.","operationId":"deactivate","parameters":[{"name":"id","in":"path","description":"The ID of the user to delete.","required":true,"schema":{"type":"string"}},{"name":"anonymize","in":"query","description":"Anonymize user in addition to deactivating it.","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["Users Management"],"summary":"Update a user","description":"Update users attributes.\n","operationId":"updateUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/UserUpdateRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRestResponseForAdmins"}}}}}}},"/system/email-configurations/{id}":{"get":{"tags":["System"],"summary":"Fetch an email configuration","description":"Fetch a Email configuration. Requires 'Administer System' permission.\n","operationId":"getEmailConfiguration","parameters":[{"name":"id","in":"path","description":"The id of the configuration to fetch.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailConfigurationResource"}}}}},"x-sonar-internal":"true"},"delete":{"tags":["System"],"summary":"Delete an email configuration","description":"Delete an email configuration.\nRequires 'Administer System' permission.\n","operationId":"deleteEmailConfiguration","parameters":[{"name":"id","in":"path","description":"The id of the configuration to delete.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"x-sonar-internal":"true"},"patch":{"tags":["System"],"summary":"Update an email configuration","description":"Update an email configuration. Requires 'Administer System' permission.\n","operationId":"updateEmailConfiguration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/EmailConfigurationUpdateRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailConfigurationResource"}}}}},"x-sonar-internal":"true"}},"/sca/license-profiles/{license-profile-key}":{"get":{"tags":["License Profiles"],"summary":"Get the license policy for a given profile","description":"Get the license policy for a given profile.\n","operationId":"get_1","parameters":[{"name":"license-profile-key","in":"path","description":"The license profile key.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseProfileDetailsResource"}}}}},"x-sonar-internal":"true"},"delete":{"tags":["License Profiles"],"summary":"Delete the license profile","description":"Delete the license profile.","operationId":"delete","parameters":[{"name":"license-profile-key","in":"path","description":"The id of the license profile","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"x-sonar-internal":"true"},"patch":{"tags":["License Profiles"],"summary":"Update the license profile","description":"  Update the license profile for projects to use when evaluating license issues.\n","operationId":"update","parameters":[{"name":"license-profile-key","in":"path","description":"The id of the license profile","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseProfilesUpdateRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseProfileResource"}}}}},"x-sonar-internal":"true"}},"/sca/license-profiles/{license-profile-key}/licenses/{license-policy-id}":{"patch":{"tags":["License Profiles"],"summary":"Update the policy for a single license","description":"  Update the policy for a single license in the license profile.\n","operationId":"patchLicense","parameters":[{"name":"license-profile-key","in":"path","description":"The license profile key.","required":true,"schema":{"type":"string"}},{"name":"license-policy-id","in":"path","description":"The license ID.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicensePolicyLicenseUpdateRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicensePolicyLicenseResource"}}}}},"x-sonar-internal":"true"}},"/sca/license-profiles/{license-profile-key}/categories/{category-key}":{"patch":{"tags":["License Profiles"],"summary":"Update the policy for a license category","description":"  Update the policy for an entire category in the license profile.\n","operationId":"patchCategory","parameters":[{"name":"license-profile-key","in":"path","description":"The license profile key.","required":true,"schema":{"type":"string"}},{"name":"category-key","in":"path","description":"The category key.","required":true,"schema":{"type":"string","enum":["UNKNOWN","COPYLEFT_WEAK","COPYLEFT_STRONG","COPYLEFT_NETWORK","COPYLEFT_MAXIMAL","PERMISSIVE_STANDARD","PERMISSIVE_AMATEUR"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseProfileCategoryUpdateRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseProfileCategoryResource"}}}}},"x-sonar-internal":"true"}},"/sca/license-profiles/assigned-projects":{"patch":{"tags":["License Profiles"],"summary":"Assign project to license profile","description":"  Configure which license profile should be used when analyzing a project for license issues.\n","operationId":"update_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignedProjectsUpdateRestRequest"}}},"required":true},"responses":{"200":{"description":"The provided project has been assigned to the license profile.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseProfileResource"}}}}},"x-sonar-internal":"true"}},"/sca/issues-releases/{key}/changelog":{"get":{"tags":["Issues-Releases"],"summary":"Get the changelog for a single issue-release pair","description":"Get the changelog for a single (issue,release) pair (dependency risk), using the key from the search endpoint.\n\nThis is an internal API and is subject to change without notice.\n","operationId":"getChangelog","parameters":[{"name":"key","in":"path","description":"The key of the (issue,release) pair.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssuesReleasesChangesRestResponse"}}}}},"x-sonar-internal":"true"},"delete":{"tags":["Issues-Releases"],"summary":"Delete a comment from an issue-release pair","description":"Delete a comment from a (issue,release) pair (dependency risk).\n\nThis is an internal API and is subject to change without notice.\n","operationId":"deleteComment","parameters":[{"name":"key","in":"path","description":"The key of the (issue,release) pair.","required":true,"schema":{"type":"string"}},{"name":"issueReleaseChangeKey","in":"query","description":"Issue release change key","required":true,"schema":{"type":"string","description":"Issue release change key"}}],"responses":{"200":{"description":"OK"}},"x-sonar-internal":"true"},"patch":{"tags":["Issues-Releases"],"summary":"Update a comment on an issue-release pair","description":"Update a comment on a (issue,release) pair (dependency risk).\n\nThis is an internal API and is subject to change without notice.\n","operationId":"updateComment","parameters":[{"name":"key","in":"path","description":"The key of the (issue,release) pair.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueReleaseUpdateCommentRestRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"x-sonar-internal":"true"}},"/sca/feature-enablements":{"get":{"tags":["Feature Enablement"],"summary":"Get the status of SCA feature opt-in (should only be used for the configuration UX in frontend)","operationId":"getFeatureEnablement","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeatureEnablementResource"}}}}},"x-sonar-internal":"true"},"patch":{"tags":["Feature Enablement"],"summary":"Update SCA feature opt-in (should only be used for the configuration UX in frontend)","operationId":"updateFeatureEnablement","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeatureEnablementRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeatureEnablementResource"}}}}},"x-sonar-internal":"true"}},"/jira/work-types":{"get":{"tags":["Jira"],"summary":"Returns a list of all the available Jira work types for a specific Jira project","description":"Returns a list of all the available Jira work types for a specific Jira project.\nAlso checks which work types are selected for a given sonar project. Conditionally, also includes field metadata.\n","operationId":"य़_10","parameters":[{"name":"jiraProjectKey","in":"query","required":true,"schema":{"type":"string"}},{"name":"sonarOrganizationUuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"sonarProjectId","in":"query","required":false,"schema":{"type":"string"}},{"name":"includeFields","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JiraWorkTypeResultResource"}}}}}},"x-sonar-internal":"true"},"patch":{"tags":["Jira"],"summary":"Saves the selected Jira work types for a project","description":"Receives a Jira project key and a list of work type and stores the work types.\n","operationId":"य़_11","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JiraWorkTypesSelectionResource"}}},"required":true},"responses":{"200":{"description":"OK"}},"x-sonar-internal":"true"}},"/issues/sandbox-settings":{"get":{"tags":["Issues"],"summary":"Fetch instance sandbox settings","description":"Fetch the current instance-level sandbox settings.\nReturns configuration including enabled status, default value, allowOverride setting, and software qualities or rule types based on current mode.\nRequires 'Administer System' permission.\n","operationId":"getSandboxSettings","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxSettingsResource"}}}}},"x-sonar-internal":"true"},"patch":{"tags":["Issues"],"summary":"Update instance sandbox settings","description":"Update the instance-level sandbox settings.\nCannot enable sandbox without providing software qualities or rule types unless they already exist.\nWhen disabling allowOverride, all project-level software quality overrides are deleted.\nRequires 'Administer System' permission.\n","operationId":"patchSandboxSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxSettingsResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxSettingsResource"}}}}},"x-sonar-internal":"true"}},"/issues/sandbox-settings/{projectKey}":{"get":{"tags":["Issues"],"summary":"Fetch project sandbox settings","description":"Fetch the sandbox settings for a specific project.\nReturns effective configuration including enabled status, software qualities overrides, and whether settings are inherited from instance or overridden at project level.\nRequires 'Administer Project' permission.\n","operationId":"getProjectSandboxSettings","parameters":[{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxSettingsProjectResource"}}}}},"x-sonar-internal":"true"},"patch":{"tags":["Issues"],"summary":"Update project sandbox settings","description":"Update the sandbox settings for a specific project.\nThe enabled setting can be changed independently of software quality overrides.\nWhen allowOverride is disabled at instance level, software quality changes are not allowed but enabled changes are still permitted.\nSetting overridden=false removes project-level software quality overrides to inherit from instance settings.\nRequires 'Administer Project' permission and instance sandbox must be enabled.\n","operationId":"patchProjectSandboxSettings","parameters":[{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxSettingsProjectResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxSettingsProjectResource"}}}}},"x-sonar-internal":"true"}},"/integrations/integration-configurations/{id}":{"delete":{"tags":["integration-configurations-controller"],"summary":"Delete an integration configuration and all its related data.","description":"Requires global administrator permission.\nThis will permanently delete the integration configuration, all associated workspaces, user bindings, and subscriptions.\n","operationId":"delete_1","parameters":[{"name":"id","in":"path","description":"ID of the integration configuration","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"x-sonar-internal":"true"},"patch":{"tags":["integration-configurations-controller"],"summary":"Update an integration configuration.","description":"Requires global administrator permission.","operationId":"update_2","parameters":[{"name":"id","in":"path","description":"ID of the integration configuration","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationConfigurationPatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationConfigurationResponse"}}}}},"x-sonar-internal":"true"}},"/fix-suggestions/feature-enablements":{"get":{"tags":["Fix Suggestions"],"summary":"Fetch the Ai CodeFix feature enablement configurations","operationId":"getFeatureEnablement_1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeatureEnablementResponse"}}}}},"x-sonar-internal":"true"},"patch":{"tags":["Fix Suggestions"],"summary":"Enable/Disable the AI CodeFix feature at the instance or project level","operationId":"updateFeatureEnablement_1","requestBody":{"content":{"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/FeatureEnablementRequest"}}},"required":true},"responses":{"204":{"description":"No Content"}},"x-sonar-internal":"true"}},"/entitlements/license":{"get":{"tags":["Entitlements"],"summary":"Returns information about the license","description":"  Returns information about the current license.\n  Requires 'Administer System' permission.\n","operationId":"getLicense","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestResponse"}}}}},"x-sonar-internal":"true"},"delete":{"tags":["Entitlements"],"summary":"Deletes the existing license","description":"  Deletes the license. Both license keys received from Sonar and from 3rd party system can be removed.\n  Requires 'Administer System' permission.\n","operationId":"deleteLicense","responses":{"200":{"description":"OK"}},"x-sonar-internal":"true"},"patch":{"tags":["Entitlements"],"summary":"Refreshes the existing license","description":"  Fetches the latest information about the license and updates it on the SonarQube Server instance.\n  Requires 'Administer System' permission.\n","operationId":"refreshLicense","responses":{"200":{"description":"OK"}},"x-sonar-internal":"true"}},"/dop-translation/gitlab-permission-mappings/{role}":{"delete":{"tags":["Dop Translation"],"summary":"Delete a single permission mappings","description":"Requires 'Administer System' permission.","operationId":"deleteMapping","parameters":[{"name":"role","in":"path","description":"The name of the role to delete","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"x-sonar-internal":"true"},"patch":{"tags":["Dop Translation"],"summary":"Update a single permission mapping","description":"Requires 'Administer System' permission.","operationId":"updateMapping","parameters":[{"name":"role","in":"path","description":"The name of the role to update","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/DevOpsPermissionMappingUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionMappingsResource"}}}}},"x-sonar-internal":"true"}},"/dop-translation/gitlab-configurations/{id}":{"get":{"tags":["Dop Translation"],"summary":"Fetch a GitLab configuration","description":"Fetch a GitLab configuration. Requires 'Administer System' permission.\n","operationId":"getGitlabConfiguration","parameters":[{"name":"id","in":"path","description":"The id of the configuration to fetch.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitlabConfigurationResource"}}}}},"x-sonar-internal":"true"},"delete":{"tags":["Dop Translation"],"summary":"Delete a GitLab configuration","description":"Delete a GitLab configuration.\nRequires 'Administer System' permission.\n","operationId":"deleteGitlabConfiguration","parameters":[{"name":"id","in":"path","description":"The id of the configuration to delete.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"x-sonar-internal":"true"},"patch":{"tags":["Dop Translation"],"summary":"Update a Gitlab configuration","description":"Update a Gitlab configuration. Requires 'Administer System' permission.\n","operationId":"updateGitlabConfiguration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/GitlabConfigurationUpdateRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitlabConfigurationResource"}}}}},"x-sonar-internal":"true"}},"/dop-translation/github-permission-mappings/{role}":{"delete":{"tags":["Dop Translation"],"summary":"Delete a single permission mappings","description":"Requires 'Administer System' permission.","operationId":"deleteMapping_1","parameters":[{"name":"role","in":"path","description":"The name of the role to delete","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"x-sonar-internal":"true"},"patch":{"tags":["Dop Translation"],"summary":"Update a single permission mapping","description":"Requires 'Administer System' permission.","operationId":"updateMapping_1","parameters":[{"name":"role","in":"path","description":"The name of the role to update","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/DevOpsPermissionMappingUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionMappingsResource"}}}}},"x-sonar-internal":"true"}},"/dop-translation/github-configurations/{id}":{"get":{"tags":["Dop Translation"],"summary":"Fetch a GitHub configuration","description":"Fetch a GitHub configuration. Requires 'Administer System' permission.\n","operationId":"getGithubConfiguration","parameters":[{"name":"id","in":"path","description":"The id of the configuration to fetch.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GithubConfigurationResource"}}}}},"x-sonar-internal":"true"},"delete":{"tags":["Dop Translation"],"summary":"Delete a GitHub configuration","description":"Delete a GitHub configuration.\nRequires 'Administer System' permission.\n","operationId":"deleteGithubConfiguration","parameters":[{"name":"id","in":"path","description":"The id of the configuration to delete.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"x-sonar-internal":"true"},"patch":{"tags":["Dop Translation"],"summary":"Update a GitHub configuration","description":"Update a GitHub configuration. Requires 'Administer System' permission.\n","operationId":"updateGithubConfiguration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/GithubConfigurationUpdateRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GithubConfigurationResource"}}}}},"x-sonar-internal":"true"}},"/clean-code-policy/mode":{"get":{"tags":["Clean Code Policy"],"summary":"Retrieve current instance Mode","description":"Fetch the current instance mode. Can be Multi-Quality Rules (MQR) Mode or Standard Experience.\n","operationId":"getMode","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModeResource"}}}}},"x-sonar-internal":"true"},"patch":{"tags":["Clean Code Policy"],"summary":"Update current instance Mode","description":"Update the current instance mode. Can be Multi-Quality Rules (MQR) Mode or Standard Experience.\nRequires 'Administer System' permission.\n","operationId":"patchMode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModeResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModeResource"}}}}},"x-sonar-internal":"true"}},"/authorizations/groups/{id}":{"get":{"tags":["Authorizations"],"summary":"Fetch a single group","description":"Fetch a single group.","operationId":"fetchGroup","parameters":[{"name":"id","in":"path","description":"The id of the group to fetch.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestResponse"}}}}}},"delete":{"tags":["Authorizations"],"summary":"Deletes a group","description":"Deletes a group.","operationId":"deleteGroup","parameters":[{"name":"id","in":"path","description":"The ID of the group to delete.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["Authorizations"],"summary":"Update a group","description":"Update a group name or description.\n","operationId":"updateGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/GroupUpdateRestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestResponse"}}}}}}},"/system/migrations-status":{"get":{"tags":["System"],"summary":"Gets the status of ongoing database migrations, if any","description":"Return the detailed status of ongoing database migrations including starting date. If no migration is ongoing or needed it is still possible to call this endpoint and receive appropriate information.","operationId":"getStatus","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseMigrationsResponse"}}}}}}},"/system/liveness":{"get":{"tags":["System"],"summary":"Provide liveness of SonarQube, meant to be used as a liveness probe on Kubernetes","description":"  Require 'Administer System' permission or authentication with passcode.\n\n  When SonarQube is fully started, liveness check for database connectivity, Compute Engine status, and, except for DataCenter Edition, if ElasticSearch is Green or Yellow.\n\n  When SonarQube is on Safe Mode (for example when a database migration is running), liveness check only for database connectivity\n","operationId":"livenessCheck","parameters":[{"name":"X-Sonar-Passcode","in":"header","description":"Passcode can be provided, see SonarQube documentation","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"This SonarQube node is alive"},"default":{"description":"This SonarQube node is not alive and should be rescheduled"}}}},"/system/health":{"get":{"tags":["System"],"operationId":"getHealth","parameters":[{"name":"X-Sonar-Passcode","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Health"}}}}}}},"/sca/self-test":{"get":{"tags":["Self Test"],"summary":"Run a self test","description":"Run a self test that the dependency analysis (SCA) feature is enabled and\nable to reach the cloud services it relies on.\n\nThis is an internal API and is subject to change without notice.\n","operationId":"performSelfTest","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SelfTestResponse"}}}}},"x-sonar-internal":"true"}},"/sca/self-test/spring-configuration":{"get":{"tags":["Self Test"],"summary":"Run a self test that Spring is configured as expected","description":"Run a self test that Spring is set up and working as we expect.\n\nThis is an internal API and is subject to change without notice.\n","operationId":"performSpringConfigurationSelfTest","parameters":[{"name":"selfTestName","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SelfTestSpringConfigurationResponse"}}}}},"x-sonar-internal":"true"}},"/sca/sbom-reports":{"get":{"tags":["SBOM Reports"],"summary":"Get a software bill of materials (SBOM) report","description":"Return a report based on the dependencies in this component's branch, using\nthe type parameter and Accept header to select the report to generate.\n\nRight now, the available reports have specialized MIME types that\ngo along with those formats:\n\n* CycloneDX: https://cyclonedx.org/specification/overview/\n  * JSON & XML\n* SPDX 2.3: https://spdx.github.io/spdx-spec/v2.3/\n  * JSON & XML\n* SPDX 3.0: https://spdx.github.io/spdx-spec/v3.0.1/\n  * JSON\n","operationId":"generateReport","parameters":[{"name":"component","in":"query","description":"Key of the component (project, application, portfolio) to build report for","required":true,"schema":{"type":"string","description":"Key of the component (project, application, portfolio) to build report for"}},{"name":"branch","in":"query","description":"Key of the branch to build report for","required":false,"schema":{"type":"string","description":"Key of the branch to build report for"}},{"name":"type","in":"query","description":"Type of report to generate.\nThe `Accept` header sent by the client determines the format of the report.\nCurrently supported: cyclonedx (application/vnd.cyclonedx+json), cyclonedx (application/vnd.cyclonedx+xml),\nspdx_23 (application/spdx+json), spdx_23 (application/spdx+xml),\nspdx_30 (application/spdx+json)\n","required":true,"schema":{"type":"string","description":"Type of report to generate.\nThe `Accept` header sent by the client determines the format of the report.\nCurrently supported: cyclonedx (application/vnd.cyclonedx+json), cyclonedx (application/vnd.cyclonedx+xml),\nspdx_23 (application/spdx+json), spdx_23 (application/spdx+xml),\nspdx_30 (application/spdx+json)\n","enum":["cyclonedx","spdx_23","spdx_30"]}}],"responses":{"200":{"description":"The desired report in the desired output format","content":{"application/vnd.cyclonedx+json":{"schema":{"type":"string"}},"application/vnd.cyclonedx+xml":{"schema":{"type":"string"}},"application/spdx+json":{"schema":{"type":"string"}},"application/spdx+xml":{"schema":{"type":"string"}}}}},"x-sonar-public":"true"}},"/sca/risk-reports":{"get":{"tags":["Risk Reports"],"summary":"Get a report for all the current SCA dependency risks for a given component and branch","description":"Returns list of all risks for a given component and branch. CSV format is available by setting `Accept: text/csv` in your request headers.\n","operationId":"getReport","parameters":[{"name":"component","in":"query","description":"Key of the component (project, application, portfolio) to build report for","required":true,"schema":{"type":"string","description":"Key of the component (project, application, portfolio) to build report for"}},{"name":"branch","in":"query","description":"Key of the branch to build report for","required":false,"schema":{"type":"string","description":"Key of the branch to build report for"}},{"name":"riskType","in":"query","description":"Type of risk to filter the report by. If not provided, all risks types are included.","required":false,"schema":{"type":"string","description":"Type of risk to filter the report by. If not provided, all risks types are included.","enum":["VULNERABILITY","PROHIBITED_LICENSE"]}}],"responses":{"200":{"description":"The report in the desired output format","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RiskReportItem"}}},"text/csv":{"schema":{"type":"string"}}}}},"x-sonar-public":"true"}},"/sca/releases":{"get":{"tags":["Releases"],"summary":"Search for releases","description":"Search for package releases that appear in the analyzed project,\napplication, or portfolio, as determined by software composition analysis.\n\nThis endpoint returns one result for each release,\nrather than one result for each time a release is pulled in.\nEach result may appear in multiple files or scopes that\nall use the same version of the affected package.\n\nThe search results do not include full details on the dependencies\nthat pull in each release, only a summary. To get the full dependency\ndetails, use the /releases/{key} endpoint for a single release.\n\nIn the terminology of this endpoint, a \"release\" is a version of\na package like \"lodash 1.2.3\", and a \"dependency\" is a specific file\nand scope that pulls in the release such as \"subproject/pom.xml test\".\nEach returned release may have multiple dependencies.\n\nThis is an internal API and is subject to change without notice.\n","operationId":"search_3","parameters":[{"name":"projectKey","in":"query","description":"Key of the component (project, application, or portfolio) to fetch all dependencies from","required":true,"schema":{"type":"string","description":"Key of the component (project, application, or portfolio) to fetch all dependencies from"}},{"name":"branchKey","in":"query","description":"Key of the branch to fetch all dependencies from. If not provided, the default branch will be used unless a pull request key is provided.","required":false,"schema":{"type":"string","description":"Key of the branch to fetch all dependencies from. If not provided, the default branch will be used unless a pull request key is provided."}},{"name":"pullRequestKey","in":"query","description":"Key of the pull request to fetch all dependencies from.","required":false,"schema":{"type":"string","description":"Key of the pull request to fetch all dependencies from."}},{"name":"direct","in":"query","description":"Filter on the direct attribute. TRUE stands for direct dependencies, FALSE for transitive dependencies.","required":false,"schema":{"type":"boolean","description":"Filter on the direct attribute. TRUE stands for direct dependencies, FALSE for transitive dependencies."}},{"name":"newlyIntroduced","in":"query","description":"Filter on the newlyIntroduced attribute. TRUE stands for only releases introduced vs. the target branch, FALSE for releases shared with target.","required":false,"schema":{"type":"boolean","description":"Filter on the newlyIntroduced attribute. TRUE stands for only releases introduced vs. the target branch, FALSE for releases shared with target."}},{"name":"productionScope","in":"query","description":"Filter on the productionScope attribute. TRUE stands for only production dependencies, FALSE for only not in production. If a release is both, it matches both.","required":false,"schema":{"type":"boolean","description":"Filter on the productionScope attribute. TRUE stands for only production dependencies, FALSE for only not in production. If a release is both, it matches both."}},{"name":"packageManagers","in":"query","required":false,"schema":{"type":"array","description":"Filter on the package manager","items":{"type":"string"},"uniqueItems":true}},{"name":"q","in":"query","description":"Filter on the package name. This parameter performs a partial match (contains and case insensitive) on the package name.","required":false,"schema":{"type":"string","description":"Filter on the package name. This parameter performs a partial match (contains and case insensitive) on the package name."}},{"name":"pageSize","in":"query","description":"Number of results per page. A value of 0 will only return the pagination information.","required":false,"schema":{"type":"integer","format":"int32","default":50,"description":"Number of results per page. A value of 0 will only return the pagination information.","maximum":500,"minimum":0}},{"name":"pageIndex","in":"query","description":"1-based page index","required":false,"schema":{"type":"integer","format":"int32","default":1,"description":"1-based page index","exclusiveMinimum":0,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleasesSearchRestResponse"}}}}},"x-sonar-internal":"true"}},"/sca/releases/{key}":{"get":{"tags":["Releases"],"summary":"Get a single release","description":"Fetch a single release by its key.\n\nThis single-release endpoint lists full details for all dependencies\nthat mention the release.\n\nIn the terminology of this endpoint, a \"release\" is a version of\na package like \"lodash 1.2.3\", and a \"dependency\" is a specific file\nand scope that pulls in the release such as \"subproject/pom.xml test\".\nEach returned release may have multiple dependencies.\n\nThis is an internal API and is subject to change without notice.\n","operationId":"fetchRelease","parameters":[{"name":"key","in":"path","description":"The key of the release to fetch.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseDetailResource"}}}}},"x-sonar-internal":"true"}},"/sca/license-profiles/assignable-projects":{"get":{"tags":["License Profiles"],"summary":"License profile assignable projects","description":"  List the projects that can be assigned to the license profile. Assigning the\n  project to a license profile will cause that license profile to be used when\n  analyzing the project for license issues.\n","operationId":"index_1","parameters":[{"name":"licenseProfileUuid","in":"query","description":"The key of the license profile whose assignable projects should be retrieved.\n","required":true,"schema":{"type":"string","description":"The key of the license profile whose assignable projects should be retrieved.\n"}},{"name":"assignedToLicenseProfile","in":"query","description":"  Providing this parameter filters by whether projects are assigned to the license profile or not.\n  Omitting this parameter includes all projects which can be assigned to the license profile,\n  regardless of whether they are already assigned to the license profile.\n","required":false,"schema":{"type":"boolean","description":"  Providing this parameter filters by whether projects are assigned to the license profile or not.\n  Omitting this parameter includes all projects which can be assigned to the license profile,\n  regardless of whether they are already assigned to the license profile.\n"}},{"name":"q","in":"query","description":"  Providing this parameter performs a partial match (contains and case insensitive) on the project name.\n","required":false,"schema":{"type":"string","description":"  Providing this parameter performs a partial match (contains and case insensitive) on the project name.\n"}},{"name":"pageSize","in":"query","description":"Number of results per page. A value of 0 will only return the pagination information.","required":false,"schema":{"type":"integer","format":"int32","default":50,"description":"Number of results per page. A value of 0 will only return the pagination information.","maximum":500,"minimum":0}},{"name":"pageIndex","in":"query","description":"1-based page index","required":false,"schema":{"type":"integer","format":"int32","default":1,"description":"1-based page index","exclusiveMinimum":0,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignableProjectsIndexRestResponse"}}}}},"x-sonar-internal":"true"}},"/sca/issues-releases":{"get":{"tags":["Issues-Releases"],"summary":"Search for issue-release pairs","description":"Search for software composition analysis issues (dependency risks)\nof a project, paired with releases that appear in the analyzed\nproject, application, or portfolio.\n\nThis endpoint returns one result for each (issue,release) pair,\nrather than one result for each distinct issue. So for example\nif a library uses two different versions of a package and\nboth versions are affected by the same vulnerability, you will\nget two results not one.\n\nHowever each result may appear in multiple files or scopes that\nall use the same version of the affected package.\n\nIn the terminology of this endpoint, a \"release\" is a version of\na package like \"lodash 1.2.3\", an \"issue\" is a problem such as\n\"CVE-1234\", and a \"dependency\" is a specific file and scope that\npulls in the release such as \"subproject/pom.xml test\".\n\nThis is an internal API and is subject to change without notice.\n","operationId":"search_4","parameters":[{"name":"projectKey","in":"query","description":"Key of the component (project, application, portfolio) to fetch all dependency risks from.","required":true,"schema":{"type":"string","description":"Key of the component (project, application, portfolio) to fetch all dependency risks from."}},{"name":"branchKey","in":"query","description":"Key of the branch to fetch all dependency risks from. If not provided, the default branch will be used unless a pull request key is provided.","required":false,"schema":{"type":"string","description":"Key of the branch to fetch all dependency risks from. If not provided, the default branch will be used unless a pull request key is provided."}},{"name":"pullRequestKey","in":"query","description":"Key of the pull request to fetch all dependency risks from.","required":false,"schema":{"type":"string","description":"Key of the pull request to fetch all dependency risks from."}},{"name":"sort","in":"query","description":"Sort order","required":false,"schema":{"type":"string","default":"+identity","description":"Sort order","enum":["+identity","-identity","+severity","-severity","+cvssScore","-cvssScore"]}},{"name":"packageManagers","in":"query","required":false,"schema":{"type":"array","description":"Filter on the package manager","items":{"type":"string"},"uniqueItems":true}},{"name":"types","in":"query","required":false,"schema":{"type":"array","description":"Filter on the issue type","items":{"type":"string"},"uniqueItems":true}},{"name":"qualities","in":"query","required":false,"schema":{"type":"array","description":"Filter on the quality domain","items":{"type":"string"},"uniqueItems":true}},{"name":"severities","in":"query","required":false,"schema":{"type":"array","description":"Filter on the severity","items":{"type":"string"},"uniqueItems":true}},{"name":"statuses","in":"query","required":false,"schema":{"type":"array","description":"Filter on the status","items":{"type":"string"},"uniqueItems":true}},{"name":"packageName","in":"query","description":"Filter on the package name. This parameter performs a partial match (contains and case insensitive) on the package name.","required":false,"schema":{"type":"string","description":"Filter on the package name. This parameter performs a partial match (contains and case insensitive) on the package name."}},{"name":"vulnerabilityId","in":"query","description":"Filter on the vulnerability ID. This parameter performs a partial match (contains and case insensitive) on the vulnerability ID.","required":false,"schema":{"type":"string","description":"Filter on the vulnerability ID. This parameter performs a partial match (contains and case insensitive) on the vulnerability ID."}},{"name":"newlyIntroduced","in":"query","description":"Filter on the isNew attribute. TRUE stands for only releases introduced vs. the target branch, FALSE for releases shared with target.","required":false,"schema":{"type":"boolean","description":"Filter on the isNew attribute. TRUE stands for only releases introduced vs. the target branch, FALSE for releases shared with target."}},{"name":"direct","in":"query","description":"Filter on the direct attribute. TRUE stands for only direct dependencies, FALSE for only transitive. If a release is both, it matches both.","required":false,"schema":{"type":"boolean","description":"Filter on the direct attribute. TRUE stands for only direct dependencies, FALSE for only transitive. If a release is both, it matches both."}},{"name":"productionScope","in":"query","description":"Filter on the productionScope attribute. TRUE stands for only production dependencies, FALSE for only not in production. If a release is both, it matches both.","required":false,"schema":{"type":"boolean","description":"Filter on the productionScope attribute. TRUE stands for only production dependencies, FALSE for only not in production. If a release is both, it matches both."}},{"name":"assignees","in":"query","required":false,"schema":{"type":"array","description":"Filter on assignee logins.","items":{"type":"string"},"uniqueItems":true}},{"name":"projects","in":"query","required":false,"schema":{"type":"array","description":"Filter on project keys.","items":{"type":"string"},"uniqueItems":true}},{"name":"assigned","in":"query","description":"Filter on whether the issue is assigned or not.","required":false,"schema":{"type":"boolean","description":"Filter on whether the issue is assigned or not."}},{"name":"pageSize","in":"query","description":"Number of results per page. A value of 0 will only return the pagination information.","required":false,"schema":{"type":"integer","format":"int32","default":50,"description":"Number of results per page. A value of 0 will only return the pagination information.","maximum":500,"minimum":0}},{"name":"pageIndex","in":"query","description":"1-based page index","required":false,"schema":{"type":"integer","format":"int32","default":1,"description":"1-based page index","exclusiveMinimum":0,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssuesReleasesSearchRestResponse"}}}}},"x-sonar-internal":"true"}},"/sca/issues-releases/{key}":{"get":{"tags":["Issues-Releases"],"summary":"Get a single issue-release pair","description":"Fetch a single (issue,release) pair (dependency risk), using the key from the search endpoint.\n\nThis is an internal API and is subject to change without notice.\n","operationId":"fetchIssueRelease","parameters":[{"name":"key","in":"path","description":"The key of the issue,release pair to fetch.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueReleaseDetailsResource"}}}}},"x-sonar-internal":"true"}},"/sca/issues-releases/all-assignees":{"get":{"tags":["Issues-Releases"],"summary":"Get the list of users assigned to at least one issue in a given branch","description":"Get the list of users assigned to at least one issue in a given branch.\n","operationId":"getAllAssignees","parameters":[{"name":"projectKey","in":"query","description":"Key of the project to fetch all assignee users from.","required":true,"schema":{"type":"string","description":"Key of the project to fetch all assignee users from."}},{"name":"branchKey","in":"query","description":"Key of the branch to fetch all assignee users from. If not provided, the default branch will be used unless a pull request key is provided.","required":false,"schema":{"type":"string","description":"Key of the branch to fetch all assignee users from. If not provided, the default branch will be used unless a pull request key is provided."}},{"name":"pullRequestKey","in":"query","description":"Key of the pull request to fetch all assignee users from.","required":false,"schema":{"type":"string","description":"Key of the pull request to fetch all assignee users from."}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserResource"}}}}}},"x-sonar-internal":"true"}},"/sca/enabled":{"get":{"tags":["SCA Enabled"],"summary":"Get whether SCA is licensed and set up for a resource's organization or enterprise, prefer the /feature-enabled path in new code","operationId":"getFeatureEnabled","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScaFeatureEnabledResource"}}}}},"x-sonar-internal":"true"}},"/sca/feature-enabled":{"get":{"tags":["SCA Enabled"],"summary":"Get whether SCA is licensed and set up for a resource's organization or enterprise, prefer the /feature-enabled path in new code","operationId":"getFeatureEnabled_1","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScaFeatureEnabledResource"}}}}},"x-sonar-internal":"true"}},"/sca/clis":{"get":{"tags":["SCA CLIs"],"summary":"Get available CLI downloads","description":"Gets the available SCA CLI downloads. The response includes metadata about each option\nsuch as the filename and operating system.\n\nThis is an internal API and is subject to change without notice.\n","operationId":"getScaClisMetadata","parameters":[{"name":"os","in":"query","description":"Filter by operating system","required":false,"schema":{"type":"string","description":"Filter by operating system","enum":["windows","linux","macos"],"example":"windows"},"example":"windows"},{"name":"arch","in":"query","description":"Filter by CPU architecture","required":false,"schema":{"type":"string","description":"Filter by CPU architecture","enum":["x64","aarch64"],"example":"x64"},"example":"x64"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScaCliInfoRestResponse"}}}}}},"x-sonar-internal":"true"}},"/sca/clis/{id}":{"get":{"tags":["SCA CLIs"],"summary":"Get metadata for a specific CLI download","description":"Gets the metadata for a specific SCA CLI download. The response includes the\nfilename, SHA-256 checksum, operating system, and CPU architecture.\n\nThis is an internal API and is subject to change without notice.\n","operationId":"downloadScaCli","parameters":[{"name":"id","in":"path","description":"The ID of the SCA CLI download","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}},"application/json":{"schema":{"$ref":"#/components/schemas/ScaCliInfoRestResponse"}}}}},"x-sonar-internal":"true"}},"/sca/analyses":{"get":{"tags":["Analyses"],"summary":"Fetch analysis status for one branch","description":"Fetch analysis status information for a branch. If the branch has\nnever been analyzed, will return a status of 404.\n\nThis is an internal API and is subject to change without notice.\n","operationId":"fetchAnalysis","parameters":[{"name":"projectKey","in":"query","description":"Key of the project to fetch analysis status from","required":true,"schema":{"type":"string","description":"Key of the project to fetch analysis status from"}},{"name":"branchKey","in":"query","description":"Key of the branch to fetch analysis status from. If not provided, the default branch will be used unless a pull request key is provided.","required":false,"schema":{"type":"string","description":"Key of the branch to fetch analysis status from. If not provided, the default branch will be used unless a pull request key is provided."}},{"name":"pullRequestKey","in":"query","description":"Key of the pull request to fetch analysis status from.","required":false,"schema":{"type":"string","description":"Key of the pull request to fetch analysis status from."}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalysisResource"}}}}},"x-sonar-internal":"true"}},"/jira/user-actions":{"get":{"tags":["Jira"],"summary":"Returns a list of available user actions for a project","description":"Returns a list of available user actions for the authenticated user in the context of a specific project.\nIf the user is not authenticated, returns an empty list.\n","operationId":"य़_12","parameters":[{"name":"sonarProjectId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-sonar-internal":"true"}},"/jira/projects":{"get":{"tags":["Jira"],"summary":"Returns a list of all the available Jira projects","description":"Returns a list of all the available Jira projects","operationId":"य़_13","parameters":[{"name":"sonarOrganizationUuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JiraProjectResultResource"}}}}}},"x-sonar-internal":"true"}},"/jira/linked-issues-count/{sonarProjectId}":{"get":{"tags":["Jira"],"summary":"Count linked Jira issues","description":"Count the number of Jira issues linked to a specific Sonar project.\nAccepts only authenticated requests.\n","operationId":"य़_14","parameters":[{"name":"sonarProjectId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedIssuesCountResource"}}}}},"x-sonar-internal":"true"}},"/integrations/user-bindings/{id}":{"get":{"tags":["Slack User Bindings"],"summary":"Get Slack user binding","description":"Retrieves a Slack user binding by its ID. Users can only access their own bindings\nunless they have administrative privileges.\n","operationId":"getUserBinding","parameters":[],"responses":{"200":{"description":"User binding retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserBindingResponse"}}}},"401":{"description":"Authentication required"},"403":{"description":"Insufficient permissions"},"404":{"description":"User binding not found"},"500":{"description":"Internal server error"}},"x-sonar-internal":"true"}},"/fix-suggestions/supported-rules":{"get":{"tags":["Fix Suggestions"],"summary":"Get the supported rules","description":"Returns the list of rules for which a fix suggestion can be generated","operationId":"supportedRules","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupportedRulesDto"}}}}},"x-sonar-internal":"true"}},"/fix-suggestions/supported-llm-providers":{"get":{"tags":["Fix Suggestions"],"summary":"Get the supported LLM providers","description":"Returns the LLM providers that could be used for requesting an AI fix suggestion","operationId":"getLlmProviders","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LlmProviderResponseDto"}}}}}},"x-sonar-internal":"true"}},"/fix-suggestions/service-info":{"get":{"tags":["Fix Suggestions"],"summary":"Request status of AI CodeFix service","operationId":"get_2","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceInfo"}}}}},"x-sonar-internal":"true"}},"/fix-suggestions/issues/{issueId}":{"get":{"tags":["Fix Suggestions"],"summary":"Fetch AI suggestion availability for the given issueId","description":"Requires Code Viewer permission.","operationId":"get_3","parameters":[{"name":"issueId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FixSuggestionIssueResponse"}}}}}}},"/entitlements/purchasable-features":{"get":{"tags":["Entitlements"],"summary":"Returns a list of all available purchasable features for this edition","description":"  Returns a list of all available purchasable features for this edition including the ones who are already purchased\n","operationId":"getPurchasableFeatures","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PurchasableFeatureRestResponse"}}}}}},"x-sonar-internal":"true"}},"/dop-translation/project-bindings":{"get":{"tags":["Dop Translation"],"summary":"Search across project bindings","operationId":"getProjectBindingByProjectId","parameters":[{"name":"repository","in":"query","description":"Filter on the repository name.\nThis parameter performs an exact, case insensitive, match.\n","required":false,"schema":{"type":"string","description":"Filter on the repository name.\nThis parameter performs an exact, case insensitive, match.\n"}},{"name":"dopSettingId","in":"query","description":"Filter on the DevOps Platform setting id.","required":false,"schema":{"type":"string","description":"Filter on the DevOps Platform setting id."}},{"name":"repositoryUrl","in":"query","description":"Filter on the repository URL.\nThis parameter can be in different formats, the traditional URL or the git remote URL (https or ssh).\n","required":false,"schema":{"type":"string","description":"Filter on the repository URL.\nThis parameter can be in different formats, the traditional URL or the git remote URL (https or ssh).\n"}},{"name":"pageSize","in":"query","description":"Number of results per page. A value of 0 will only return the pagination information.","required":false,"schema":{"type":"integer","format":"int32","default":50,"description":"Number of results per page. A value of 0 will only return the pagination information.","maximum":500,"minimum":0}},{"name":"pageIndex","in":"query","description":"1-based page index","required":false,"schema":{"type":"integer","format":"int32","default":1,"description":"1-based page index","exclusiveMinimum":0,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectBindingsSearchRestResponse"}}}}},"x-sonar-internal":"true"}},"/dop-translation/project-bindings/{id}":{"get":{"tags":["Dop Translation"],"summary":"Fetch a single Project Binding","operationId":"getProjectBinding","parameters":[{"name":"id","in":"path","description":"The id of the project-bindings to fetch.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectBinding"}}}}},"x-sonar-internal":"true"}},"/dop-translation/dop-settings":{"get":{"tags":["Dop Translation"],"summary":"List all DevOps Platform Integration settings","description":"Requires the 'Create Projects' permission ","operationId":"fetchAllDopSettings","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DopSettingsRestResponse"}}}}}}},"/atlassian/auth-url":{"get":{"tags":["Atlassian"],"summary":"Generate Jira authentication URL","description":"Generate the authentication URL for Jira OAuth flow.\nRequires authenticated user.\n","operationId":"य़_15","parameters":[{"name":"sonarOrganizationKey","in":"query","required":true,"schema":{"type":"string"}},{"name":"sonarOrganizationUuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}},"x-sonar-internal":"true"}},"/architecture/graphs":{"get":{"tags":["Architecture"],"summary":"Search all current graphs available for a branch. This endpoint do not includes graph Data itself","operationId":"य़_16","parameters":[{"name":"projectKey","in":"query","description":"The key of the project.","required":true,"schema":{"type":"string"}},{"name":"branchKey","in":"query","description":"The key of the branch.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/_p"}}}}},"x-sonar-internal":"true"}},"/architecture/graphs/{id}":{"get":{"tags":["Architecture"],"summary":"Get graph data by id.","description":"Fetch the graph data produced by analysis.","operationId":"य़_17","parameters":[{"name":"id","in":"path","description":"id of the graph data.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/graph+json":{"schema":{"type":"string"}}}}},"x-sonar-internal":"true"}},"/architecture/file-graph":{"get":{"tags":["Architecture"],"summary":"Find the file graph for this project branch and source.","operationId":"य़_18","parameters":[{"name":"projectKey","in":"query","description":"The key of the project.","required":true,"schema":{"type":"string"}},{"name":"branchKey","in":"query","description":"The key of the branch.","required":true,"schema":{"type":"string"}},{"name":"source","in":"query","description":"The source that produced this graph. eg. java, python, js, etc.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}},"x-sonar-internal":"true"}},"/analysis/version":{"get":{"tags":["Analysis"],"summary":"Server version","description":"Get the version of the Scanner Engine","operationId":"getVersion","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/analysis/jres":{"get":{"tags":["Analysis"],"summary":"All JREs metadata","description":"Get metadata of all available JREs","operationId":"getJresMetadata","parameters":[{"name":"os","in":"query","description":"Filter the JRE by operating system. Accepted values are 'windows', 'linux', 'macos', 'alpine' (case-insensitive), with some aliases","required":false,"schema":{"type":"string"}},{"name":"arch","in":"query","description":"Filter the JRE by CPU architecture. Accepted values are 'x64' and 'aarch64' (case-insensitive), with some aliases.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JreInfoRestResponse"}}}}}}}},"/analysis/jres/{id}":{"get":{"tags":["Analysis"],"summary":"JRE download/metadata","description":"This endpoint return the JRE metadata by default. To download the JRE binary asset, set the Accept header of the request to 'application/octet-stream'.","operationId":"downloadJre","parameters":[{"name":"id","in":"path","description":"The ID of the JRE","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}},"application/json":{"schema":{"$ref":"#/components/schemas/JreInfoRestResponse"}}}}}}},"/analysis/engine":{"get":{"tags":["Analysis"],"summary":"Scanner engine download/metadata","description":"This endpoint return the Scanner Engine metadata by default. To download the Scanner Engine, set the Accept header of the request to 'application/octet-stream'.","operationId":"downloadScannerEngine","responses":{"200":{"description":"OK","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}},"application/json":{"schema":{"$ref":"#/components/schemas/EngineInfoRestResponse"}}}}}}},"/analysis/active_rules":{"get":{"tags":["Analysis"],"summary":"Get all active rules for a specific project","description":"Used by the scanner-engine to get all active rules for a given project.","operationId":"getActiveRules","parameters":[{"name":"projectKey","in":"query","description":"Project Key","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActiveRule"}}}}}}}},"/sca/license-profiles/assigned-projects/{project-key}":{"delete":{"tags":["License Profiles"],"summary":"Remove the project's assignment to the license profile.","description":"   Remove the project's assignment to the license profile. If there is a default license profile,\n   it will be used to analyze license issues for this project.\n","operationId":"delete_2","parameters":[{"name":"project-key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"x-sonar-internal":"true"}},"/authorizations/group-memberships/{id}":{"delete":{"tags":["Authorizations"],"summary":"Remove a group membership","description":"Remove a user from a group","operationId":"delete_3","parameters":[{"name":"id","in":"path","description":"The ID of the group membership to delete.","required":true,"schema":{"type":"string"}}],
[...]
